Script({
    NotifyTitle : "알 림",
    NotifyText : "이 게임은 Blue Archive의 팬 제작 게임입니다.",
    StartMenu : "게임 시작",
    SettingMenu : "설정",
    ExitMenu : "종료",
    Exit : "네",
    NoExit : "아니오",
    Store: "저장",
    NoStore: "나가기",
    ExitMessage : "게임을 종료하시겠습니까?",
    EnterStage : "탐색 시작",
})
