Script({
    NotifyTitle : "알 림",
    NotifyTextLine0 : "이 게임은 Blue Archive의 팬 제작 게임입니다.",
    StartMenuButton : "게임 시작",
    SettingMenuButton : "설정",
    ExitMenuButton : "종료",
    ExitButton : "나가기",
    NoExitButton : "아니오",
    StoreButton: "저장",
    ExitMessage : "게임을 종료하시겠습니까?",
    EnterStageButton : "탐색 시작",
    PauseTitle : "일시 정지", 
    PauseResumeButton : "이어하기", 
    PuaseSettingButton : "설정", 
    PauseRetryButton : "재시작", 
    PauseExitButton : "나가기", 
})
